.b1{
	position: absolute;
	top: -1%;
	left: -1%;
  width: 101%; 
  height: 300%;
	background-color: #EE82EE;
}
.b2{
	position: absolute;
	top: 10%;
	left: 67%;
  font-size: 45px;
  font-family:a1;
  border-style: dotted;
  color: white;
}
.b3{
  position: absolute;
  top: 8%;
  left: 2%;
  width: 58%; 
  height: 115%;
  background-image: url(../fotos/t1.jpg);
}
.b4{
  position: absolute;
  top: 125%;
  left: 2%;
  width: 46%; 
  height: 115%;
  background-image: url(../fotos/t2.jpg);
}
.b5{
  position: absolute;
  top: 243%;
  left: 2%;
  width: 35%; 
  height: 30%;
  background-image: url(../fotos/t3.jpg);
}
.b6{
  position: absolute;
  top: 25%;
  left: 62%;
  font-size: 30px;
  font-family:a1;
  color: white;
}
.b7{
  position: absolute;
  top: 100%;
  left: 70%;
  width: 20%;
  height: 15%;
  font-family: a1;
  text-shadow: 2px 3px 1px #FF00FF;
  border: dotted 5px;
  font-size: 37px;
  transition: width 2s;
  color: white;
}
.b7:hover{
  position: absolute;
  top: 100%;
  left: 70%;
  width: 23%;
  height: 15%;
  font-family: a1;
  text-shadow: 2px 3px 1px #FF00FF;
  border: dotted 5px;
  font-size: 37px;
  color: white;
}
a{
  text-decoration: none;
  color: black;
}
@font-face{
  font-family:a1;
  src: url(fu1.ttf);
}